.newpost-container {
    width: calc(100% - 225px);
    min-height: 300px;
    background-color: #f5f5f5;
    margin: 2.5rem 0 2.5rem 0;
    border-radius: 20px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;    
}

#profile-pic {
    width: 5em;
    margin: 10px;
    border-radius: 10px;
}

#display-heading {
    display: flex;
    align-items:center;
    height: auto;
    margin: 10px 0 0px 0;
}

#display-name {
    margin: 0px 5px 0px 5px;
    max-width: max-content;
    font-size: 25px;
    font-weight: 100;
    background-color: lightgray;
    
}

#details-container {
    margin: 10px 10px 0px 5px;
    width: auto;
    font-size: 16px;
    color: rgb(87, 87, 87);
}

#display-description {
    width: 80%;
    min-height: 50px;
    font-size: 16px;
    border: none;
    padding: 5px 5px 100px 5px;
    border-radius: 10px;    
    resize: none;
}

#display-productLink {
    width: 80%;
    height: 10px;
    font-size: 16px;
    border: none;
    padding: 5px 5px 20px 10px;
    border-radius: 10px;    
    resize: none;
    overflow: hidden;
}

#display-productLink:focus {
    outline: none;
    box-shadow: 5px 5px 5px #CBC3E3;    
}

#display-description:focus {
    outline: none;
    box-shadow: 5px 5px 5px #CBC3E3;    
}

#display-form {
    width: 100%;
    min-height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#display-submit {
    background-color:#CF9FFF;
    color: white;
    width: 5rem;
    height: 2.5rem;
    font-size: 16px;
    align-self: center;
    border: none;
}

#display-submit:hover {
    background-color: #CBC3E3;
}