.portal {
    background-color: white;
    width: 47%;
    border-radius: 10px;
    font-size: 3em;      
}
.portal-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;   
}

#heading {
    margin-left: 1rem;
    color: #6082B6  
}

.arrw-icon {
    font-size: 1em;
    background-color: white;
    color: green;
    border: none;    
    margin: 0.6rem 1.2rem;    
}

.arrw-icon:hover {
    color: #50C878;
}

.positive {
    font-size: 0.4em;
    margin: 0.5rem 1.2rem;   
}

@media screen and (max-width: 630px){
    .portal {
        width: 100%;        
        margin-bottom: 5rem;
    }
    .arrw-icon {
        margin: auto;
    }
}

.center {
    width: 100%;
    display: grid;
    place-items: center;
}
#donation-img { 
    width: 50%;
    margin: 0.5rem auto;
}