.landing-container {
    background-image: linear-gradient(#bdd4e7, #8693ab);
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;        
    margin-right: 3rem;
}

#logo {
    width: 8rem;        
}

#title-text {
    align-self: center;    
    font-size: 3.5em;
    color: #5E2D79;
}

#lorem {
    font-size: 1.25em;
    margin: 0.5rem 6rem;
}

@media screen and (max-width: 800px) {
    #lorem {
      margin: 0.2rem 2.6rem;
    }
  }

#hero-container {    
    width: 90vw;
    height: 60vh;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 630px){
    #hero-container {
        flex-direction: column;        
        height: 50%;
    }    
}

