.hero-container {
    width: calc(100vw - 300px);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #EAEAEA;
}

.hero-actionbar {
    width: calc(100% - 50px);
    height: 200px;
    background-color: white;
    margin: 10px 0 10px 0;
}
